<!DOCTYPE html>
<html lang="en">

<head>
    <title>Account Recovery | Identity Management</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="{{'//fonts.googleapis.com/css?family=Roboto:400,100,100italic,400italic,700,700italic|Raleway:400,100,600,300|Playfair}}{{Display}}{{SC:900,400'}}">
</head>

<body>
    <div class="authform">
        <div class="panel">
            <h2>Password reset</h2>
            <p class="message">Your password has been reset. You may now sign in again.</p>
        </div>
    </div>
</body>

</html>

