<html lang="en">

<head>
    <title>Session</title>
    <script src="/vendor/crypto-js/core.js"></script>
    <script src="/vendor/crypto-js/sha256.js"></script>
    <script src="/vendor/event-source-polyfill/eventsource.js"></script>
    <script src="/javascript/session.js"></script>
</head>

<body>
    <p>There's nothing to see here. Move along.</p>
</body>

</html>

